{
  "extends": "airbnb-base",
  "root": true,
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "linebreak-style": ["error", "windows"],
    "no-console": 0,
    "no-underscore-dangle": 0
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
